* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  background:
    radial-gradient(circle at top, #301414, #090909 45%);

  color: white;

  min-height: 100vh;
}

header {
  max-width: 900px;
  margin: auto;

  padding: 90px 20px 50px;

  text-align: center;
}

.tag {
  background: #ff3b3b;
  color: #fff;

  padding: 8px 15px;

  border-radius: 20px;

  font-family: monospace;
}

header h1 {
  font-size: 55px;

  margin-top: 25px;
  margin-bottom: 15px;
}

header p {
  color: #aaa;

  font-size: 18px;

  max-width: 600px;
  margin: auto;

  line-height: 1.6;
}

main {
  max-width: 900px;

  margin: auto;

  padding: 20px;

  display: grid;

  grid-template-columns: repeat(2, 1fr);

  gap: 20px;
}

.card {
  background: #111;

  border: 1px solid #292929;

  border-radius: 15px;

  padding: 30px;

  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);

  border-color: #ff3b3b;
}

.card > span {
  color: #ff3b3b;

  font-size: 14px;

  font-weight: bold;
}

.card h2 {
  margin: 12px 0;

  font-size: 23px;
}

.card p {
  color: #aaa;

  line-height: 1.6;
}

.terminal {
  background: #050505;

  border: 1px solid #333;

  padding: 15px;

  border-radius: 8px;

  margin: 15px 0;

  font-family: monospace;
}

.terminal p {
  color: #4cff72;
}

footer {
  text-align: center;

  padding: 60px 20px;

  color: #777;
}

footer strong {
  color: #ff3b3b;
}

@media (max-width: 700px) {

  header h1 {
    font-size: 38px;
  }

  main {
    grid-template-columns: 1fr;
  }

}